version: "3.7"
services:
  # DATABASE
  postgres:
    image: postgres:13.1
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:4210:5432"
    env_file: ./env/.env.postgres

  # BACKEND
  api:
    build:
      dockerfile: ./dockerfile.develop
      context: ./api
    env_file:
      - ./env/.env.api
    ports:
      - "127.0.0.1:4200:7000"
    volumes:
      - ./api/src:/home/node/app/src

  # FRONTEND
  app:
    build:
      context: ./app/
      dockerfile: ./dockerfile.develop
    volumes:
      - ./app:/app
    ports:
      - "3300:3000"
    stdin_open: true

  # AUTH
  supertokens:
    image: "registry.supertokens.io/supertokens/supertokens-postgresql"
    ports:
      - "3567:3567"

volumes:
  database:
    name: database
