.close-image-backdrop {
    position: absolute !important;
    top: 0;
    right: 0;
}

.image-open-button {
    display: flex;
    justify-content: center;
}

.image-wrapper {

    width: 100%;
    height: 100%;
}

.image {
    flex: 1;
    vertical-align: middle;

    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.carousel-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 31px 6px rgba(30, 30, 30, 0.8);
    box-shadow: 5px 5px 31px 6px rgba(30, 30, 30, 0.8);
    max-height: 80vh;
}

@media only screen and (max-width: 1000px) {
    .carousel-wrapper {
        width: 90vw;
    }
}


.carousel .thumb img {
    max-height: 100px !important;
}

.carousel .slide {
    max-height: 80vh !important;
}
