.drawer {
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 999;
}
.drawer:hover {
  background-color: #0b0b0b;
  color: white;
}

.drawer:hover span {
  color: white;
}
.slider-wrapper {
  margin: 10px;
  margin-top: 20px;
  min-width: 250px;
}
.close {
  margin: 10px;
  margin-top: 10px;
}
.detail-line {
  margin: 1em 0.5em;
}
