.drawer {
    position: fixed;
    bottom:0;
    background-color: white;
    z-index: 999;
}
.drawer:hover {
    background-color: #0b0b0b;
    color: white;
}

.drawer:hover span {
    color: white;
}
.query {
    margin: 10px;
    margin-top: 20px;
}
.close {
    margin: 10px;
    margin-top: 10px;
}
